
   
    body{
        background-image: url("../images/dust.png");
        margin: 0;
        padding: 0;
    } 

 /* This is the logo and the menu . I make the menu div to make the background color 
 show left the logo*/ 

.menu{
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
#logo{
    float: left;
    background-color:#4aaaa5;
    color:#ffffff;
    text-align: center;
    padding:15px 20px;
    margin:  0px 0px 0px 120px;
    font-size: 25px;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;

     

}


ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #ffffff;
    height: 55px;  
    
}
 li a{
    float: right;
    display: block;
    color:black;
    text-align: center;
    margin: 20px 0px;
    text-decoration:none;
    border-left: 2px solid #cccccc;
    position: relative;
    right: 120px;
    padding: 0px 16px;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   
}


#about a{
    border-left: none;
}


/* This is the container for about page*/

#container{
   
    margin: 20px auto;

    width: 960px;
   
}

.main{
    
    overflow: auto;
    float: left;
    background-color: #ffffff;
    widows: 650px;
    height: 500px;
    width: 70%;
    
}

#main2{
    margin: 20px;
}

/* This the section header*/
.h2{
    font-size: 23px;
    color: #4aaaa5;
    font-weight: bold;
    border-bottom: #cccccc 2px solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
/* This is for about page*/

#Ghusoon-image{
    float: left;
    
}
#first-p{
    line-height: 1.8;
    margin-left: 10px;

}

/* This is for contact page*/
input{
    width: 100%;
    padding: 12px 5px;

    display: inline-block;
    border: 1px solid #cccccc;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    box-sizing: border-box;
}
#message{
    height: 150px;
}
label{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
}
input[type=submit]{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 0px;
    text-decoration: none;
   margin:4px 2px;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/*The porfolio page */
.green{
    background-color: green;
    text-align: center;
}

/*This is sidebar*/

.sidebar{
    margin-left: 20px;
    float: left;
    background-color: #ffffff;
    width: 260px; 
    height: 200px;
}

/* the text and the image for sidebar*/
#sidebar2{
    position: relative;
    top: 30%;
    left: 50%;
    padding:  0 20px;
    text-align: center;
    margin: 0 auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  
 }

 #sidebar-text{
    margin:20px 15px;
    padding: 20px 0px;
    color: #4aaaa5;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
     border-bottom:  2px solid #cccccc;
 }

 /* This is footer*/
.footer{

clear: both;
margin-top: 50px ;
margin-bottom: 0px;
position: fixed;
bottom: 0%;
width: 100%;

}
#footer{
     
     padding: 20px  0;
     color:#ffffff;
     background-color: #666666;
     text-align: center;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
     border-top:9px solid #4aaaa5;
    
 }









    
         

     

